h1 { 
  margin: 0;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app {
  background-color: rgb(77, 72, 72);
  height: 100vh;
  width: 100vw;
  color: #DDD;
  position: relative;
  overflow: auto;
}

.list {
  margin-left: 10vw;
  margin-right: 10vw;
}

.item {
  background-color: #DDD1;
  margin-top: 15px;
  padding: 10px;
}

.item.memo {
  background-color: #F553;
}

.item.pure {
  background-color: #5F53;
}

.item.scu {
  background-color: #55F3;
}

.item img, .item .text {
  display: inline-block;
}

.item img {
  background-color: #1114;
  width: 200px;
  height: 100px;
}

.item .text {
  margin-left: 20px;
}

button {
  color: white;
  margin: 10px;
  background: none;
  border: 0;
  padding: 10px;
  background-color: #FFF2;
  border-radius: 10px;
}

.configuration {
  margin-left: 10vw;
}